/** ============================== Drag and drop ============================== */

#drag-and-drop {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark);
    opacity: 0;
    width: 100vw;
    height: 100vh;
    font-size: 10rem;
    z-index: -1;
    overflow: hidden;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

/** ============================== Notepad ============================== */

#notepad {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 3.5rem minmax(20%, 10rem) minmax(50%, auto);
    grid-template-rows: 45px 3.5rem auto;
    grid-template-areas:
        "toolsBar sideBar buttonBar"
        "toolsBar sideBar titleInput"
        "toolsBar sideBar textarea";
    border-radius: var(--big-border-radius);
    overflow: hidden;
}

/** ============================== Tools bar ============================== */
#tools-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-dark);
    border-right: 2px solid var(--background-dark-lighter);
    grid-area: toolsBar;
    overflow: hidden;
}

/* Tool button */
.toolbtn {
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 16px;
}
.toolbtn:hover {
    color: var(--text-primary);
    background-color: var(--main-color);
}

/* Bottom section */

.bottom-bar-section {
    border-top: 1px solid var(--main-color);
}

/** ============================== Side bar ============================== */

#sidebar {
    background-color: var(--background-dark);
    border-right: 2px solid var(--background-dark-lighter);
    /* padding-left: 10px; */
    grid-area: sideBar;
    overflow: auto;
}

/** Info */
#info {
    cursor: default;
    margin: 10px;
}

/* Note title */
#notepad-title-input {
    font-size: 24px;
    border: none;
    outline: none;
    background-color: var(--background-dark);
    width: 100%;
    overflow: hidden;
}

/* Properties */
#note-counter {
    color: var(--text-secondary);
}

/** Note tab */
.note-tab {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--background-dark-lighter);
    cursor: pointer;
}
.note-tab.selected {
    padding-left: 20px;
    background-color: var(--background-dark-light);
}
.note-tab:hover {
    background-color: var(--background-dark-lighter);
}

/* Note title */
.note-title {
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note-tab.selected .note-title {
    color: var(--main-color);
}

/* Delete note */
.delete-note {
    opacity: 0;
    position: relative;
    padding: 4px;
    margin: 0;
    margin-left: auto;
    color: var(--danger-color);
    background-color: transparent;
    border-radius: 5px;
}
.delete-note:hover {
    color: var(--text-primary);
    background-color: var(--danger-color);
}
.note-tab:hover .delete-note {
    opacity: 1;
}

/** Add note button */
#add-note {
    width: calc(100% - 20px);
    margin: 10px;
}

/** ============================== Button bar ============================== */
.button-bar {
    display: flex;
    align-items: center;
    background-color: var(--background-dark-light);
    padding: 5px;
    border-bottom: solid 2px var(--background-dark-lighter);
    grid-area: buttonBar;
    overflow: hidden;
}
.button-bar button {
    background-color: transparent;
    height: 30px;
    margin: 5px;
    padding: 0 10px;
}

/** ============================== Textarea ============================== */

/* Title input */
#title-input {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 32px;
    background-color: var(--background-dark-light);
    grid-area: titleInput;
    border: none;
    outline: none;
}

/* Note input*/
#note-input {
    padding: 20px;
    padding-top: 10px;
    border-radius: 0;
    background-color: var(--background-dark-light);
}

/** ============================== Modals ============================== */

.modalbg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: -1;
    opacity: 0;
}

.cancelbg {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.modal {
    border: 2px solid var(--main-color);
    background-color: var(--background-dark);
    border-radius: var(--medium-border-radius);
    padding: 1rem;
}

.modal h2 {
    margin: 10px;
}

.show {
    z-index: 1;
    opacity: 1;
}

.button-pair {
    display: flex;
}
.button-pair button {
    width: 50%;
}

/** ============================== Config ============================== */

#config-popout {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas:
        "title info"
        "private-title public-title"
        "description description"
        "buttons buttons";
}

#config-popout .normal-text-input,
#config-popout .normal-textarea {
    margin: 8px 0;
    padding: 5px;
}

#config-title {
    grid-area: title;
}
#config-version {
    grid-area: info;
}

#config-public-title {
    grid-area: public-title;
}
#config-private-title {
    grid-area: private-title;
}

#config-description {
    grid-area: description;
    max-width: calc(100% - 10px);
}
#config-button-pair {
    grid-area: buttons;
}
