.background {
    background-color: rgba(26, 26, 26, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
#editor {
    width: 90%;
    min-height: 80%;
    background-color: var(--background-dark);
    padding: 7px 10px;
    outline: none;
    border-radius: var(--medium-border-radius);
    border: none;
    resize: none;
}
#editor:focus {
    outline: solid 1px var(--main-color) !important;
}
h1 {
    margin-top: 5px;
}
