:root {
    /* --main-color-light: hsl(0, 0%, 100%);
    --main-color: hsl(0, 0%, 90%);
    --hover-color: hsl(0, 0%, 80%); */
    /* --main-color-light: hsl(43, 74%, 60%);
    --main-color: hsl(43, 74%, 50%);
    --hover-color: hsl(43, 74%, 40%); */
    --main-color-light: hsl(152, 90%, 50%);
    --main-color: hsl(152, 90%, 40%);
    --hover-color: hsl(152, 90%, 30%);

    --danger-color: hsl(4, 90%, 50%);
    --danger-hover-color: hsl(4, 90%, 40%);

    --background-darker: hsl(0, 0%, 5%);
    --background-dark: hsl(0, 0%, 10%);
    --background-dark-light: hsl(0, 0%, 15%);
    --background-dark-lighter: hsl(0, 0%, 20%);

    --popup-color: rgba(0, 0, 0, 0.9);

    --text-primary: hsl(0, 0%, 95%);
    --text-secondary: hsl(0, 0%, 75%);

    --big-border-radius: 12px;
    --medium-border-radius: 8px;
    --small-border-radius: 4px;
}
* {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    color: var(--text-primary);
    transition: 0.15s;
}
body {
    background-color: var(--background-dark);
    margin: 0px;
    height: 100vh;

    background-image: url(../../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
}

/** ============================== Center containers ============================== */

.center-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-window {
    height: 100vh;
    width: 100vw;
}

/** ============================== Scrollbar ============================== */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color-light);
}

/** ============================== Buttons ============================== */

button {
    margin: 8px;
    padding: 10px;
    border: none;
    border-radius: var(--medium-border-radius);
    cursor: pointer;
}

/* Cancel button */

.cancelbtn {
    background-color: transparent;
    border: 1px solid;
}
.cancelbtn:hover {
    font-style: bold;
    text-decoration: underline;
    background-color: hsla(0, 0%, 95%, 0.15);
}

/* Danger button*/

.dangerbtn {
    background-color: var(--danger-hover-color);
}
.dangerbtn:hover {
    background-color: var(--danger-color);
}

/* Good button */

.goodbtn {
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
}
.goodbtn:hover {
    color: var(--text-primary);
    background-color: var(--main-color);
}

/* Great button */

.greatbtn {
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: var(--main-color) 0px 0px 8px,
        inset var(--main-color) 0px 0px 8px;
    font-weight: bold;
}
.greatbtn:hover:enabled,
.greatbtn:focus:enabled {
    color: var(--text-primary);
    background-color: var(--main-color);
    box-shadow: none;
    outline: none;
}
.greatbtn:disabled {
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
    box-shadow: var(--danger-color) 0px 0px 8px,
        inset var(--danger-color) 0px 0px 8px;
    opacity: 0.8;
}

/** ============================== Inputs ============================== */

.normal-text-input {
    width: 100%;
    border: none;
    background-color: var(--background-dark-lighter);
    border-radius: var(--medium-border-radius);
    box-sizing: border-box;
}
.normal-text-input:focus:valid {
    outline: solid 1px var(--main-color);
}
.normal-text-input:focus:invalid {
    outline: solid 1px var(--danger-color);
    caret-color: var(--danger-color);
}

/** Textareas */

.normal-textarea {
    background-color: var(--background-dark-lighter);
    border-radius: var(--medium-border-radius);
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}

/** ============================== Little details ============================== */

/* Changes input carret color */
input,
textarea {
    caret-color: var(--main-color);
}

/* Changes text selecton background color */
::selection {
    background-color: var(--main-color);
}
