/* Container */

#login-container {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;
    padding-bottom: 1.2rem;

    border: 3px solid var(--main-color);
    border-radius: var(--big-border-radius);

    background-color: var(--background-dark);

    background: rgba(26, 26, 26, 0.9);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* Inputs */

.normal-text-input {
    padding: 16px;
    margin: 8px 0;
}

/* Login button */

#loginbtn {
    margin: 8px 0;
}

/* .background {
    background-color: rgba(26, 26, 26, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
} */
