/* Container */

#login-container {
    min-width: 13rem;
    width: 37.5%;
}

/* Buttons*/

.button-group {
    display: flex;
}
button {
    width: 50%;
}
#cancelbtn {
    background-color: var(--danger-color);
}
#cancelbtn:hover {
    background-color: var(--danger-hover-color);
}
